body {
    font-family: Helvetica, Arial, sans-serif;
}

.visit-button {
    background-color: #5199FF !important;
    color: white !important;
}

.navbar-nav {
    width: 86%;
}

.top-margin-xs {
    margin-top: 60px;
}

.active {
    color: #5199FF !important;
}

.top-margin {
    margin-top: 150px;
}

.main-header {
    font-weight: 700;
    font-size: 4em;
}

.blue-col {
    color: #5199FF;
}

.contact-link {
    color: rgba(0, 0, 0, .55) !important;
    margin-left: 30px;
}

.header-text {
    color: rgba(0, 0, 0, .55);
    text-indent: 20px;
    margin-top: 20px;
}

.button-container {
    margin-top: 50px;
}

.header-img {
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    -moz-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
}

.no-pad {
    padding-left: 0 !important;
}

.info-container {
    background-color: #5199FF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 430px;
    row-gap: 10px;
    padding: 14px 10px;
    z-index: 8;
    position: relative;
    top: -50px;
}

.info-container * {
    flex: 50%;
}

.info-container i {
    margin-right: 9px;
}

.top-sub {
    color: #5199FF;
}

.section-header {
    color: black;
    font-weight: 700;
    font-size: 2.5em;
}

.img-container {
    width: 100%;
    max-height: 400px;
}

.img-container img {
    width: 100%;
    -webkit-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    -moz-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
}

@media only screen and (max-width: 600px) {
    .info-container {
        width: auto;
        position: relative;
    }
}