body {
    font-family: Helvetica, Arial, sans-serif;
}

.visit-button {
    background-color: #5199FF !important;
    color: white !important;
}

.navbar-nav {
    width: 86%;
}

.top-margin-xs {
    margin-top: 60px;
}

.active {
    color: #5199FF !important;
}

.top-margin {
    margin-top: 150px;
}

.main-header {
    font-weight: 700;
    font-size: 4em;
}

.blue-col {
    color: #5199FF;
}

.contact-link {
    color: rgba(0, 0, 0, .55) !important;
    margin-left: 30px;
}

.header-text {
    color: rgba(0, 0, 0, .55);
    text-indent: 20px;
    margin-top: 20px;
}

.button-container {
    margin-top: 50px;
}

.header-img {
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    -moz-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
}

.no-pad {
    padding-left: 0 !important;
}

.info-container {
    background-color: #5199FF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 430px;
    row-gap: 10px;
    padding: 14px 10px;
    z-index: 8;
    position: relative;
    top: -50px;
}

.info-container * {
    flex: 50%;
}

.info-container i {
    margin-right: 9px;
}

.top-sub {
    color: #5199FF;
}

.section-header {
    color: black;
    font-weight: 700;
    font-size: 2.5em;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    -webkit-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    -moz-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
}

.footer-20192 {
    position: relative;
    padding: 7rem 0;
    background-color: rgba(183, 212, 255, 1);
}

.footer-20192 .container {
    position: relative;
}

.footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    margin-top: 0;
    line-height: 1.5;
}

.cta h2 {
    color: white;
}

.cta h3 {
    color: white !important;
}

.offer-container {
    text-align: center;
}

.offer-container h5 {
    color: rgb(122, 122, 122);
    font-weight: 300;

}

.offer-list li {
    text-align: center;
    display: block;
    color: #5199FF;
    font-size: 1.6em;
    font-weight: 600;
}

.offer-list li:hover {
    transition: 0.2s ease-in-out;
    text-decoration: underline;
    color: #5199FF;
    font-size: 2em;
}

.footer-20192 .links li {
    margin-bottom: 10px;
    color: black;
    line-height: 1.5;
    display: block;
}

.footer-20192 .links li a {
    color: black;
}

.footer-20192 .links li a:hover {
    color: rgb(122, 122, 122);
}

.footer-20192 .social li {
    display: inline-block;
    position: relative;
}

.footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #5199FF;
    color: #fff;
}

.footer-20192 .social li a>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.footer-20192 .copyright {
    color: #666873;
}

.footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 20px;
    background-color: #5199FF;
    top: -150px;
    position: relative;
}

.footer-20192 .cta h2,
.footer-20192 .cta h3 {
    line-height: 1.5;
}

.footer-20192 .cta h3 {
    font-size: 20px;
}

.map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    -webkit-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    -moz-box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
    box-shadow: 25px 25px 0px -5px rgba(183, 212, 255, 1);
}

.text-container {
    margin-top: 25px;
    text-align: center;
    color:rgb(122, 122, 122)
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important
}



@media only screen and (max-width: 600px) {
    .info-container {
        width: auto;
        position: relative;
    }
}